<div class="col-lg-4 d-flex align-items-stretch">
    <div class="card mb-4">
        <div class="embed-responsive embed-responsive-16by9">
            <img class="card-img-top embed-responsive-item" src="{{tour.picture}}" alt=""/>
        </div>
        <div class="card-body">
            <h2 class="h5 card-title">{{tour.country}}: {{tour.title}}</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <h2 class="h6 card-title">{{tour.date}}, {{tour.nights}} ночей, {{tour.price}} P </h2>
            <a href="{% url 'id_tour' tour.id %}" class="btn btn-sm btn-primary">Подробнее</a>
        </div>
    </div>
</div>

